html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 200vh;
    padding-top: 80px;
    font-family: sans-serif;
    background-color: rgb(245, 245, 255);
}

.skelly-img {
    height: 50px;
    width: auto;
}

.sects {
    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem 4rem 2rem;
    box-sizing: border-box;
}

.sects .img-sect {
    margin-top: 20px;
}

/*--------------------------------- Navigation ---------------------------------*/
nav {
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    
    position: relative;
    padding: 0 2rem;
    box-sizing: border-box;
}

.nav-content {
    display: flex;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-content a {
    text-decoration: none;
    color: #333;
    padding: 0 15px;
    white-space: nowrap;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-content a:hover {
    color: #00eeff;
}

/*--------------------------------- Burgir Icon ---------------------------------*/
.hamburger {
    display: none;
    cursor: pointer;
    padding: 5px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/*--------------------------------- Welcome Section ---------------------------------*/

.bo1-img {
    width: 80px;
    transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.bo1-img:hover {
    transform: scale(1.15) rotate(-5deg);
}

.welcome-sect h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
}

.welcome-sect p {
    text-align: center;
    color: #686868;
}

.ondor-r-img {
    height: 70px;
    width: 300px;
    transform: translateY(0.25em);
}

/*--------------------------------- Graphic Design Section ---------------------------------*/
.img-design {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.5s ease;
}

.graphic_design-container {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #e0e0e0;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #888;

    position: relative;
    overflow: hidden;
}

.grid-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
    
    pointer-events: none; 
}

.grid-item:hover .img-design {
    transform: scale(1.05);
}

.grid-item--large {
    grid-row: span 2;
    background-color: #c5c5c5;
}

/*--------------------------------- Arts Section ---------------------------------*/
.arts-wrapper {
    position: relative;
    width: 100%;
    max-width: 1000px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.arts-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.arts-container::-webkit-scrollbar {
    display: none;
}

.grid-img {
    flex: 0 0 32%;
    margin: 20px 1rem;
    display: block;
    float: left;
    width: 100%;
    perspective: 1000px;
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.grid-img:hover {
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0 5px 20px #000000;

    transform: translateY(-7px) scale(1.05) rotateX(15deg);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
}

.grid-img::before {
    content: '';
    position: absolute;
    top: 0;
    width: 150%;
    height: 100%;
    
    background: linear-gradient(
        35deg,
        transparent 40%,
        rgba(255, 255, 255, 0.15) 43%,
        rgba(255, 255, 255, 0.25) 100%,
        transparent 60%
    );
    
    transform: translateY(-45%);
    transition: transform 0.2s ease-in-out;
    pointer-events: none;
}

.grid-img:hover::before {
    transform: translateY(-10%);
}

.img-art {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(180, 246, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    z-index: 5;
    transition: background-color 0.3s;
}

.arrow:hover {
    background-color: #61f4ff;
    box-shadow: 0 0 10px rgba(0, 238, 255, 0.9);
}

.left-arrow {
    left: -20px;
}

.right-arrow {
    right: -20px;
}

/*--------------------------------- Github Section ---------------------------------*/
.github-sect {
    background-color: #52525244;
}

.github-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    width: 100%;
    overflow: hidden;
}

.repo-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.repo-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(101, 245, 255, 0.7);
}

.repo-container:hover .repo-link {
    color: #0df5fd;
}

.repo-container:hover .repo-link:hover {
    color: #01d1d8;
}

.repo-head {
    display: flex;
    align-items: center;
    gap: 10px;
}

.repo-head img {
    width: 30px;
}

.repo-head h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #333;
}

.repo-container p {
    font-size: 12px;
    margin: 15px 0;
    color: #7e7e7e;
    line-height: 1.5;
    flex-grow: 1;
}

.repo-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #99f8ff;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-start;
}

.repo-link img {
    width: 16px;
    transition: transform 0.2s ease-in-out;
}

.repo-link:hover img {
    transform: translateX(5px);
}

/*--------------------------------- About me Section ---------------------------------*/
.aboutme-container {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    max-width: 1000px;
}

.about_ {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about_list_ {
    list-style-type: none;
    background-color: #52525244;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; 
    padding: 25px;
    border-radius: 8px;
    margin: 0;
}

.about_list_ li {
    margin-bottom: 15px;
}
.about_list_ li:last-child {
    margin-bottom: 0;
}

.about_list_ p {
    text-align: left;
    font-size: 1rem;
    padding: 15px;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
}

/* Clean up the link styles */
.about_list_ li a {
    display: flex;
    align-items: center;
    
    background-color: rgba(206, 228, 228, 0.75);
    color: #ffffff;
    width: auto; 
    height: auto;
    padding: 15px;
    
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

    transform: skew(-20deg);
    transition: all 0.2s ease-in-out;
}

.about_list_ li a:hover {
    background-color: rgba(0, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.55), 0 0 20px rgba(0, 255, 255, 0.55), 0 0 30px rgba(0, 255, 255, 0.55);
    transform: translateY(-5px) skew(-20deg);
    transition: all 0.2s ease-in-out;
}

.about_list_ li a span {
    transform: skew(20deg);
    display: flex;
    align-items: center;
    gap: 10px;
}

.img_about_ {
    width: 24px;
    height: 24px;
    padding: 0;
    vertical-align: middle;
}

.img_cherry_on_top_ {
    flex: 1;
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/*--------------------------------- Footer ---------------------------------*/
footer hr {
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1;
    height: 1px;
}

footer {
    padding: 20px 0;
    margin-top: 60px;
    color: #000000;
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.r-word {
    color: #00eeff;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/*--------------------------------- Modal Section ---------------------------------*/
.modal_ {
    display: none; 
    position: fixed; 
    z-index: 9; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1080px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* --- MEDIA QUERY: When the screen is small (e.g., less than 768px) --- */
@media (max-width: 668px) {
    .sects {
        margin-left: 5%;
        margin-right: 5%;
        padding: 0 1rem 3rem 1rem;
    }

    /* ------------------ Navigation ------------------ */
    .hamburger {
        display: block;
    }
    
    .nav-content {
        display: none; 
        position: absolute; 
        top: 60px; 
        
        width: 100%;
        transform: none;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    }

    .nav-content a {
        text-align: center;
        padding: 15px 0;
        border-top: 1px solid #eee;
    }

    .nav-content.active {
        display: flex;
    }

    .nav-container {
        padding: 0 10px;
    }
    
    .skelly-img {
        display: block; 
    }

    /* ------------------ Welcome Section ------------------ */
    .welcome-sect h1 {
        font-size: 36px; 
    }

    .ondor-r-img {
        height: 42px;
        width: 180px;
    }

    /* ------------------ Graphic Design Section ------------------ */
    .graphic_design-container {
        grid-template-columns: 1fr;
        width: 100%;
        grid-auto-rows: 300px; 
    }

    .grid-item--large {
        grid-row: span 2;
    }

    /* ------------------ Arts Section ------------------ */
    .arts-container {
        scroll-padding: 0 5%;
    }

    .grid-img {
        flex: 0 0 90%;
        margin: 20px 5%;
    }

    .arrow {
        width: 35px;
        height: 35px;
    }

    .left-arrow {
        left: 5px; 
    }

    .right-arrow {
        right: 5px;
    }

    /* ------------------ About Me Section ------------------ */
    .aboutme-container {
        flex-direction: column;
        gap: 40px;
    }

    .about_ {
        width: 100%;
    }

    /* ------------------ Footer ------------------ */
    .footer-container {
        flex-direction: column;
        gap: 10px;
    }

}